/* 
verde => #59cb73
blanco => #fcfefd
negro => #201f1d
negro navbar => #272727
*/

body {
  background-color: #272727;
}

body .container-fluid {
  padding: 0;
}

#main-browser {
  margin-left: 5%;
}

.wrongPass {
  background-color: rgba(255, 65, 65, 0.26);
}

/* #main-browser-results {
  color: white;
} */